<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./img/weather02-512.webp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}        
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFAXLkQoaUFvA/profile-displayphoto-shrink_800_800/0/1660474714015?e=1674691200&v=beta&t=BiZEl6uHz2zxR3tW82A9N66Nj8SVGY0AAja4S0A6OfA" alt="">

    </div>
    {{>footer}}
</body>
</html>
