body{
    color: #333333;
    max-width: 650px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

footer{
    color: #8888;
    border-top:1px solid #eeeeee ;
    margin-top: 16px;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
    background-image: linear-gradient(90deg, red, blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait{
    width: 250px;
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
    width: 227px;
    border-radius: 12px 2px 2px 12px;
}

button{
    border: 1px solid #cccccc;
    color: #eeeeee;
    background-color: #8888;
    padding: 8px;
    border-radius: 2px 12px 12px 2px;
    cursor: pointer;
}


@media only screen and (max-width: 354px) {
    input{
        border: 1px solid #cccccc;
        width: 100%;
        border-radius: 4px;
        padding: 8px;
    }
    button{
        border: 1px solid #cccccc;
        color: #eeeeee;
        background-color: #8888;
        padding: 8px;
        width: 100%;
        border-radius: 4px;
        cursor: pointer;
    }
    
}

.wBox{
    margin-top: 16px;
    min-width: auto;
    background-color: #0000004b;
    border-radius: 20px;
    width:292px;
    margin-right: 0px;
    padding:16px;
    color: #ffffff;
}



.wBox2{
    margin-top: 16px;
    min-width: auto;
    border-radius: 20px;
    margin-right: 0px;
    padding:16px;
    padding-left: 0px;
    color: #00000082;
}

#mOne{
    margin-top: 0;
    color: #ffffff;
}

#mTwo,#mThree{
    margin: 6px;
}


#u11{
    display: flex;
}

#u11_img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

img[src=""] {
    display: none;
}